body {
    background-image: url("https://images.uncyc.org/pt/thumb/5/57/Xou_da_Xuxa_3_capeta.jpg/300px-Xou_da_Xuxa_3_capeta.jpg");
    text-align: center;
}
p{
    color:rgb(0, 0, 0);
    font-size: 40px;
    font-weight: bold
    
}
h1{
    font-size: 45px;
}